/*
 ? FONTS
 */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Alegreya Sans', sans-serif; */
/*
  ? Colors
  */
#page {
  margin-top: 40px;
  width: 1600px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.container-fluid {
  padding: 0;
}

.title,
.lien {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.header-trio {
  margin-bottom: 60px;
}

.header-trio-left,
.header-trio-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-trio-left > div,
.header-trio-right > div {
  min-width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/*
  ? Start of .header-trio-left
 */
.header-trio-left {
  padding-right: 20px;
}

.header-trio-left-top {
  padding-bottom: 10px;
}

.header-trio-left-top p {
  text-transform: uppercase;
  color: #a5a5a5;
  font-weight: 500;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

/*
  ? Start of little bars
 */
.header-trio-left-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2px;
  width: 100%;
}

.header-trio-left-middle-left {
  width: 30%;
  height: 2px;
  background-color: #3a3a3a;
}

.header-trio-left-middle-right {
  width: 70%;
  height: 2px;
  background-color: rgba(165, 165, 165, 0.1);
}

/*
  ? End of little bars
 */
.header-trio-left-bottom {
  padding-top: 10px;
}

.header-trio-left-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.header-trio-left-bottom ul a {
  color: #3a3a3a;
}

/*
  ? End of .header-trio-left
 */
/*
  ? Start of .header-trio-middle
  */
.header-trio-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
  ? End of .header-trio-middle
  */
/*
  ? Start of .header-trio-right
 */
.header-trio-right {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.header-trio-right > div {
  margin-left: auto;
}

.header-trio-right p {
  text-transform: uppercase;
  color: #a5a5a5;
  display: inline-block;
  margin-right: 5px;
}

.header-trio-right p a {
  color: #a5a5a5;
}

.header-trio-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-trio-right div .btn-group button {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-trio-right div .btn-group button :focus {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-trio-right div .btn-group button i {
  color: #a5a5a5;
}

/*
  ? Start of little bars
 */
.header-trio-right-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 2px;
  width: 100%;
}

.header-trio-right-middle-left {
  width: 80%;
  height: 2px;
  background-color: rgba(165, 165, 165, 0.1);
}

.header-trio-right-middle-right {
  width: 20%;
  height: 2px;
  background-color: #3a3a3a;
}

/*
  ? End of little bars
 */
.header-trio-right-bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-trio-right-bottom p {
  margin-right: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(165, 165, 165, 0.1);
  color: #3a3a3a;
  letter-spacing: 1px;
}

.header-trio-right-bottom p :hover {
  cursor: pointer;
}

.header-trio-right-top .btn-group ul {
  width: 42px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-trio-right-top .btn-group ul a {
  color: #a5a5a5;
}

/*
  ? End of .header-trio-right
 */
/*
  ? Start of .general-nav
  */
.general-nav {
  border-top: 1px solid #3a3a3a;
  border-bottom: 3px solid #3a3a3a;
  border-right: none;
  border-left: none;
  border-radius: unset;
  background-color: #ffffff;
}

.general-nav .general-nav-divider {
  height: auto;
  width: 1px;
  background-color: #f5f5f5;
}

.general-nav .general-nav-collapse > .center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general-nav .navbar-nav li {
  text-transform: uppercase;
  list-style: none;
}

.general-nav .navbar-nav li > a {
  color: #3a3a3a;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.general-nav .navbar-nav .active > a {
  color: #a5a5a5;
  background-color: #ffffff;
}

.general-nav .dropdown-menu {
  left: -1004px;
  width: 1600px;
  padding: 0;
  margin-top: 15px !important;
}

.general-nav .dropdown-menu > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.general-nav .dropdown-menu > div ul {
  padding: 25px 10px;
  width: 100%;
  text-align: left;
  margin-left: 40px;
}

.general-nav .dropdown-menu > div ul li {
  margin-top: 15px;
}

.general-nav .dropdown-menu > div ul li a {
  font-weight: 500;
  text-transform: none;
}

.general-nav .dropdown-menu > div ul li:first-child {
  font-weight: 700;
  margin-top: 0;
}

/*
  ? End of .general-nav
  */
/*
  ? Start of responsive
  */
@media (max-width: 1600px) {
  #page {
    width: 1200px;
  }
  .general-nav .dropdown-menu {
    left: -804px;
    width: 1200px;
  }
}

@media (max-width: 1200px) {
  #page {
    width: 992px;
  }
  .general-nav .dropdown-menu {
    left: -689px;
    width: 970px;
  }
}

@media (max-width: 992px) {
  #page {
    width: 768px;
  }
  .general-nav .dropdown-menu {
    left: -589px;
    width: 768px;
  }
}

@media (max-width: 768px) {
  #page {
    width: 100%;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-trio-left > div,
  .header-trio-right > div {
    width: 100%;
  }
  .general-nav .general-nav-collapse > .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general-nav .dropdown-menu > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general-nav .dropdown-menu {
    left: 0;
    min-width: 0;
  }
  .general-nav .general-nav-divider {
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
  }
}

/*
  ? End of responsive
  */
/*
  * divider *
 */
/*
  ? Start of #sub-header
 */
#sub-header {
  height: 650px;
}

/*
 ? Start of #sub-header-left
*/
.sub-header-left {
  height: 650px;
}

.sub-header-left > div {
  height: 650px;
  background-image: url("../../img/img_site/feature-top.jpg");
  background-position: center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sub-header-left > div:hover {
  background-size: 102%;
}

.sub-header-left > div > div {
  width: 85%;
  margin: 0 auto;
}

.sub-header-left > div > div > div:nth-child(2) {
  background-color: #fff;
  height: auto;
  padding: 35px;
  padding-bottom: 15px;
}

.sub-header-left > div > div > div:nth-child(2) h3 {
  margin: 0;
}

.sub-header-left > div > div > div:nth-child(2) h3 a {
  color: #3a3a3a;
  font-family: "Roboto", sans-serif;
}

.sub-header-left > div > div > div:nth-child(2) p {
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1em;
}

.sub-header-left > div > div > div:nth-child(2) p:nth-child(3) {
  color: #a5a5a5;
  font-size: 1.2em;
  font-weight: 500;
}

.sub-header-left > div > div > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-header-left > div > div > div:nth-child(2) > div > div i {
  color: #ffffff;
  background-color: #a5a5a5;
  padding: 5px;
}

.sub-header-left > div > div > div:nth-child(2) > div > div a {
  color: #a5a5a5;
  font-weight: 500;
}

.sub-header-left > div > div > div:nth-child(2) > div > div a span {
  color: #3a3a3a;
  font-weight: 600;
  margin-right: 1px;
}

.sub-header-left > div > div > div:nth-child(2) > div div:nth-child(2) {
  margin-left: 15px;
}

.sub-header-left .category p {
  font-family: "Roboto", sans-serif;
  background-color: #f72300;
  color: #ffffff;
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 0;
  margin-left: 30px;
}

/*
 ? End of #sub-header-left
*/
/*
 ? Start of #sub-header-right
*/
.sub-header-right {
  height: 650px;
}

.sub-header-right .sub-header-right-top > div {
  height: 310px;
  background-image: url("../../img/img_site/feature-static1.jpg");
  background-position: center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sub-header-right .sub-header-right-top > div:hover {
  background-size: 102%;
}

.sub-header-right .sub-header-right-top > div > div {
  width: 85%;
  margin: 0 auto;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) {
  background-color: #fff;
  height: auto;
  padding: 35px;
  padding-bottom: 15px;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) h3 {
  margin: 0;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) h3 a {
  color: #3a3a3a;
  font-family: "Roboto", sans-serif;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) p {
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1em;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) p:nth-child(3) {
  color: #a5a5a5;
  font-size: 1.2em;
  font-weight: 500;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) > div > div i {
  color: #ffffff;
  background-color: #a5a5a5;
  padding: 5px;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) > div > div a {
  color: #a5a5a5;
  font-weight: 500;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) > div > div a span {
  color: #3a3a3a;
  font-weight: 600;
  margin-right: 1px;
}

.sub-header-right .sub-header-right-top > div > div > div:nth-child(2) > div div:nth-child(2) {
  margin-left: 15px;
}

.sub-header-right .sub-header-right-top > div .category p {
  font-family: "Roboto", sans-serif;
  background-color: #5f35ac;
  color: #ffffff;
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 0;
  margin-left: 30px;
}

.sub-header-right .sub-header-right-bottom {
  margin-top: 30px;
}

.sub-header-right .sub-header-right-bottom > div {
  height: 310px;
  background-image: url("../../img/img_site/feature-static2.jpg");
  background-position: center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.sub-header-right .sub-header-right-bottom > div:hover {
  background-size: 102%;
}

.sub-header-right .sub-header-right-bottom > div > div {
  width: 85%;
  margin: 0 auto;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) {
  background-color: #fff;
  height: auto;
  padding: 35px;
  padding-bottom: 15px;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) h3 {
  margin: 0;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) h3 a {
  color: #3a3a3a;
  font-family: "Roboto", sans-serif;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) p {
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1em;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) p:nth-child(3) {
  color: #a5a5a5;
  font-size: 1.2em;
  font-weight: 500;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) > div > div i {
  color: #ffffff;
  background-color: #a5a5a5;
  padding: 5px;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) > div > div a {
  color: #a5a5a5;
  font-weight: 500;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) > div > div a span {
  color: #3a3a3a;
  font-weight: 600;
  margin-right: 1px;
}

.sub-header-right .sub-header-right-bottom > div > div > div:nth-child(2) > div div:nth-child(2) {
  margin-left: 15px;
}

.sub-header-right .sub-header-right-bottom > div .category p {
  font-family: "Roboto", sans-serif;
  background-color: #2196f3;
  color: #ffffff;
  display: inline-block;
  padding: 5px 8px;
  margin-bottom: 0;
  margin-left: 30px;
}

/*
 ? End of #sub-header-right
*/
/*
 ? End of #sub-header
*/
/*
  ? Start of responsive
  */
@media (max-width: 1600px) {
  .sub-header-right .sub-header-right-top > div, .sub-header-right .sub-header-right-bottom > div, .sub-header-left > div {
    background-size: 110%;
  }
  .sub-header-right .sub-header-right-top > div:hover, .sub-header-right .sub-header-right-bottom > div:hover, .sub-header-left > div:hover {
    background-size: 112%;
  }
}

@media (max-width: 1200px) {
  .sub-header-right .sub-header-right-top > div, .sub-header-right .sub-header-right-bottom > div, .sub-header-left > div {
    background-size: 140%;
  }
  .sub-header-right .sub-header-right-top > div:hover, .sub-header-right .sub-header-right-bottom > div:hover, .sub-header-left > div:hover {
    background-size: 142%;
  }
}

@media (max-width: 992px) {
  .sub-header-right .sub-header-right-top > div, .sub-header-right .sub-header-right-bottom > div, .sub-header-left > div {
    background-size: cover !important;
    -webkit-transition: unset !important;
    transition: unset !important;
  }
  .sub-header-right .sub-header-right-top > div:hover, .sub-header-right .sub-header-right-bottom > div:hover, .sub-header-left > div:hover {
    background-size: cover !important;
  }
  .sub-header-right-top {
    margin-top: 30px;
  }
}

/*
    ? End of responsive
    */
/*# sourceMappingURL=style.css.map */